<div class="row">
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="First Name*" name="agent[first_name]">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="text" class="form-control" id="Last-name" placeholder="Last Name*" name="agent[last_name]">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="email" class="form-control" id="Email-address" placeholder="Email Address*" name="agent[email]">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="text" class="form-control" id="Number" placeholder="Mobile Number*" name="agent[phone]">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="text" class="form-control" id="first_name" placeholder="Buyer's First Name*" name="first_name">
            </div>
            <p>Please provide, so we know who to
            <br> associate with you.</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="text" class="form-control" id="last_name" placeholder="Buyer's Last Name*" name="last_name">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contact-numb">
            <div class="form-group">
                <input type="text" class="form-control" id="Company" placeholder="Company*" name="agent[company]">
            </div>
        </div>
    </div>
</div>