  <div class="row">
      <div class="col-sm-6">
          <div class="contact-numb">
              <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="First Name*" name="first_name">
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="contact-numb">
              <div class="form-group">
                  <input type="text" class="form-control" id="Last-name" placeholder="Last Name*" name="last_name">
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="contact-numb">
              <div class="form-group">
                  <input type="email" class="form-control" id="Email-address" placeholder="Email Address*" name="email_personal">
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="contact-numb">
              <div class="form-group">
                  <input type="text" class="form-control" id="Number" placeholder="Mobile Number*" name="phone_mobile">
              </div>
          </div>
      </div>
  </div>

  <div class="mortgage">
      <div class="row">
          <div class="col-sm-9 col-xs-12">
              <div class="mortgage-option">
                  <h2>Are you contracted with a real estate agent? *</h2>
              </div>
          </div>
          <div class="col-sm-3 col-xs-12">
              <div class="left-radio" id="optionGroupOne">
                  <label class="radio-inline">
                      <input type="radio" name="optionsRadios" id="inlineRadio1" value="1"> YES
                  </label>
                  <label class="radio-inline">
                      <input type="radio" name="optionsRadios" id="inlineRadio2" value="0"> NO
                  </label>
              </div>
          </div>
          <div id="fieldGroupOne" class="form-main" style="display: none;">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="contact-numb">
                          <div class="form-group">
                              <input type="text" name="agent[name]" class="form-control" id="name"
                                      placeholder="Agent Name*" tabindex="8">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="contact-numb">
                          <div class="form-group">
                              <input type="text" name="agent[company]" class="form-control"
                                      id="Company" placeholder="Agent Company*" tabindex="9">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="contact-numb">
                          <div class="form-group">
                              <input type="text" name="agent[phone]" class="form-control"
                                      id="agentnumber" placeholder="Agent Phone Number" tabindex="10">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="contact-numb">
                          <div class="form-group">
                              <input type="email" name="agent[email]" class="form-control"
                                      id="email" placeholder="Agent Email" tabindex="11">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-9 col-xs-12">
              <div class="mortgage-option">
                  <h2>are you prequalified for a mortgage?</h2>
              </div>
          </div>
          <div id="optionGroupTwo" class="col-sm-3 col-xs-12">
              <div class="left-radio">
                  <label class="radio-inline">
                      <input type="radio" name="mortgage_qualified" id="inlineRadio1" value="true"> YES
                  </label>
                  <label class="radio-inline">
                      <input type="radio" name="mortgage_qualified" id="inlineRadio2" value=""> NO
                  </label>
              </div>
          </div>
          <div id="fieldGroupTwo" class="form-main" style="display: none;">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="contact-numb">
                          <div class="form-group">
                              <input type="text" name="mortgage[name]" class="form-control"
                                      id="agentname"
                                      placeholder="Lender Name" tabindex="14">
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="contact-numb">
                          <div class="form-group">
                              <input type="text" name="mortgage[company]" class="form-control"
                                      id="agent-company" placeholder="Lender Company" tabindex="15">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>