@import '~@material/drawer/dist/mdc.drawer.css';
@import '~@rmwc/circular-progress/circular-progress.css';
@import '~@rmwc/data-table/data-table.css';
@import '~material-components-web/dist/material-components-web.min.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

$primary: #1976d2;

.mdc-top-app-bar {
  color: $primary;
  background: white;
}

.mdc-drawer__content {
  height: 100%;
  background: $primary;
  flex: 0 0;
  .mdc-list-item, .mdc-list-item__graphic {
    color: white;
  }
}

.rmwc-data-table__content {
  width: 100%;
}

.root {
  min-height: 100vh;
}

.body-split {
  overflow: hidden;
  display: flex;


  .mdc-drawer-app-content {
    flex-grow: 10;
    flex: 1;
  }
}

.corner-fab {
  position: fixed;
  bottom: 2rem; 
  right: 2rem;
}

.contact-body {
  background: #efebe9;
  padding: 1.5rem;
}

.pull-right {
  float: right;
}

.contact-header {
  background: $primary;
  color: white;
  padding: 1rem 2rem 2rem;
}

.contact-section {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background: white;
  margin-bottom: 1rem;
  overflow: auto;

  .mdc-list-item {
    height: auto;
  }
  .mdc-list-item__icon {
    margin-right: 0.5rem;
  }

}

.contact-section-edit {
  .field.narrow {
    float: left;
  }
  .mdc-text-field {
    background: white;
  }
  .mdc-text-field__input{
    padding-left: 68px;
  }
 .mdc-floating-label {
   padding-left: 20px;
 }
 .mdc-floating-label--float-above {
   padding-left: 26px;
 }
}

.favorite {
  color: orange;
  cursor: pointer;
}

.search-field {
  margin: 4px 12px !important;
  input {
    padding-top: 6px !important;
  }
}