@import '~@material/drawer/dist/mdc.drawer.css';
@import '~@rmwc/circular-progress/circular-progress.css';
@import '~@rmwc/data-table/data-table.css';
@import '~material-components-web/dist/material-components-web.min.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

$primary: #1976d2;

.mdc-top-app-bar {
  color: $primary;
  background: white;
}

.mdc-drawer {
  background: $primary;
  height: 100vh;
  position: fixed;
}

.mdc-fab {
  background: #b71c1c;
}

.mdc-drawer__content {
  .mdc-list-item, .mdc-list-item__graphic {
    color: white;
  }
}

.rmwc-data-table, .rmwc-data-table__content {
  width: 100%;
  clear: both;
}

table {
  thead {
    th.sortable {
      cursor: pointer;
    }
    th.sorted {
      .material-icons {
        float: right;
      }

      font-weight: bold;
      background: lighten($primary, 50%);
    }
  }
}

.big-table tr td {
  height: 75px;
}

.root {
  min-height: 100vh;
}

.body-split {
  overflow: hidden;
  display: flex;


  .mdc-drawer-app-content {
    flex-grow: 10;
    flex: 1;
    margin-left: 255px;
    min-height: 100vh;
    &.grey {
      background: #efebe9;
    }
    &.secondary {
      padding: 15px;
    }
  }
}

.corner-fab {
  position: fixed;
  bottom: 2rem; 
  right: 2rem;
}

.contact-body {
  padding: 1.5rem;
}

.pull-right {
  float: right;
}

.contact-header {
  background: $primary;
  color: white;
  padding: 1rem 2rem 2rem;
}

.contact-section {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background: white;
  margin-bottom: 1rem;
  overflow: auto;

  .mdc-list-item {
    height: auto;
  }
  .mdc-list-item__icon {
    margin-right: 0.5rem;
  }

}

.contact-section-edit {
  .field.narrow {
    float: left;
  }
  .mdc-text-field {
    background: white;
  }
  .mdc-text-field__input{
    padding-left: 68px;
  }
 .mdc-floating-label {
   padding-left: 20px;
 }
 .mdc-floating-label--float-above {
   padding-left: 26px;
 }
}

.favorite {
  color: orange;
  cursor: pointer;
}

.search-field {
  margin: 4px 12px !important;
  input {
    padding-top: 6px !important;
  }
}

.reminder-active {
  font-weight: 500;

  .mdc-list-item__graphic {
    color: orange;
  }
}

.reminder-seen {
  .mdc-list-item__primary-text {
    text-decoration: line-through;
  }
  color: #999;
}

.contact-list-reminder {
  .material-icons { 
    margin-top: 2px;
    color: orange;
    font-size: 16px;
  }

  color: $primary;
}

.mdc-icon-button {
  color: #666;
  &:hover {
    color: #333;
  }
}

.clickable {
  cursor: pointer;
}

.rmwc-data-table.inner-table {
  border: none;
  width: 100%;
  table {
    width: 80%;
  }
  overflow: hidden;
  clear: both;
  td {
    vertical-align: top;
  }
}

.action-col {
  text-align: right;
  width: 150px;
}

.icon-col {
  width: 17px;
}

.dateline {
  font-size: 13px;
  color: #666;
}

.new-button {
  color: #666;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.table-editor {
  background: white !important;
  td { 
    background: white !important;
  }
}

.mdc-text-field, .mdc-text-field__input { 
  background: white; 
}

.small-chips .mdc-chip {
  scale: 0.8 !important;
}


.tag-set {
  margin: 6px 0;
  overflow: auto;
  .tag {
    font-size: 13px;
    padding: 5px; 
    background: #ddd;
    border-radius: 10px;
    margin-right: 8px;
  }
}

.mdc-top-app-bar {
  .title {
    max-width: 230px;
  }
  .logo {
    width: 120px;
  }
}